{% extends 'Booking/summary.html.twig' %}

{% block title %}
    {{parent()}} - {{ 'step_title'|trans }} 4
{% endblock %}

{% block step %}
    <h2 id="step-title">{{ 'step_title'|trans }} 4</h2>
{% endblock %}

{% block summaryTitle %}
    n°{{ booking.transactionId }}
{% endblock %}

{% block payment %}
{% endblock %}


{% block stylesheets %}
{% endblock %}
